body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
} 

ul {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    gap: 15px;
    display: flex;
}

button {
    color: #f9faf8;
    font-weight: bold;
    background-color: #3883f6;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 7px;
}

/* First main section of the page. */
.preface {
    color: #f9faf8;
    background-color: #1f2937;
    padding: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, .intro {
    display: flex;
    margin-top: 5px; 
    height: auto;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    gap: 15%;
}

img {
    margin: 30px;
    width: 425px;
    height: 200px;
}

.logo {
    font-size: 24px;
}

/* Second main section of the page. */
.choices {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 30px;
    margin-top: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 145px;
    max-height: auto;
    text-align: center;
    align-items: center;
}

.square {
    border: solid 3px;
    border-color: #3883f6;
    border-radius: 7px;
    width: 130px;
    height: 130px; 
}

.box p {
    margin-top: 5px;
}

/* Third main section of the page. */
.motivation {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #7589a5;
    max-width: 750px;
}

#author {
    font-size: 25px;
    text-align: right;
    color:#1f2937;
    font-style:normal;
    font-weight: bold;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.banner {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3883f6;
    margin: 60px;
    padding: 30px 70px 30px 70px;
    width: 800px;
    border-radius: 7px;
}

.banner button {
    border: solid 2px;
    border-color: #F9FAF8;
}

#banner-header {
    font-weight: bolder;
    margin-bottom: 0px;
}

#sign-info {
    margin-top: 0px;
}

/* footer */
.footer {
    font-size: smaller;
    color: #F9FAF8;
    background-color: #1f2937;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}